/* Первый файл стилей */
/* homeStyles.css */

.home-App {
  max-width: 400px;
  height: 420px;
  margin: 80px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-warning-p {
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-none-warning {
  display: none;
}

.home-h2 {
  color: #228b22;
  margin-bottom: 20px;
  text-align: center;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-label {
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
}

.home-input {
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 5px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.home-button {
  padding: 10px 20px;
  background-color: #32cd32;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
  width: 200px;
  height: 40px;
}

.home-button:hover {
  background-color: #228b22;
}